<launch>
    <include file="$(find subt_exploration)/launch/simulation.launch" />
    <!-- <include file="$(find subt_exploration)/launch/elevation_mapping.launch" /> -->
    <!-- <include file="$(find subt_exploration)/launch/timed_roslaunch.launch">
        <arg name="time" value="15" />
        <arg name="pkg" value="subt_exploration" />
        <arg name="file" value="odom_sim.launch" />
    </include> -->
    <include file="$(find subt_exploration)/launch/timed_roslaunch.launch">
        <arg name="time" value="17" />
        <arg name="pkg" value="subt_exploration" />
        <arg name="file" value="elevation_mapping.launch" />
    </include>
    <include file="$(find subt_exploration)/launch/timed_roslaunch.launch">
        <arg name="time" value="19" />
        <arg name="pkg" value="subt_exploration" />
        <arg name="file" value="rviz.launch" />
    </include>
</launch>