<launch>
  <arg name="robotName" default="COSTAR_HUSKY"/>
  <arg name="robotConfig" default="COSTAR_HUSKY_SENSOR_CONFIG_1"/>
  <arg name="worldName" default="simple_cave_01"/>
  <arg name="circuit" default="cave" />

  <node pkg="subt_exploration" type="run_simulation.sh" args="osrf/subt-virtual-testbed:latest-dynamic cave_circuit.ign circuit:=$(arg circuit) \
   worldName:=$(arg worldName) \
   robotName1:=$(arg robotName) \
   robotConfig1:=$(arg robotConfig) \
   enableGroundTruth:=true \
   use_sim_time:=false" 
   name="subt_sim" output="screen" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_tf" args="0 0 0 0 0 0 COSTAR_HUSKY/odom world 100" /> -->

</launch>